@import '../partials/variables';
@import '../partials/mixins';


.baner {
    background-image: url("../assets/images/header.-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    height: calc(100vh - 84px);
    background-size: cover;
    @include flex-cen;
    justify-content: center;

    @include breakpoint(md) {
        height: calc(100vh - 144px);
    }

    .container {
        @include flex-cen;
        flex-direction: column;
    }

    &__title {
        @include font-josefin;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 8px;
    }

    &__text {
        @include font-josefin;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
        color: $white;
        margin-bottom: 48px;
    }

    &__search {
        width: 100%;
        max-width: 647px;
        background: $white;
        @include flex-cen;
        justify-content: space-between;

        & input {
            background: transparent;
            flex: 1;
            border: 0;
            outline: none;
            padding: 4px 5px 4px 36px;

            &::placeholder {
                @include font-josefin;
                @include font-par;
                color: $light-gray;
            }
        }

        & button {
            border: 0;
            background: $blue;
            padding: 16px 24px;
            padding-right: 12px;
            cursor: pointer;
            color: $white;
            @include font-aleo;

            & img {
                width: 16px;
                margin-right: 12px;
            }
        }
    }

    &__scroll {
        @include flex-cen;
        flex-direction: column;
        position: absolute;
        bottom: 22vh;

        p {
            @include font-josefin;
            color: $white;
            @include font-par;
            margin-bottom: 8px;
        }

        span {
            width: 14px;
        }
    }
}