@import '../partials/variables';
@import '../partials/mixins';


.choose {
    background-image: url("../assets/images/why-background.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    max-height: 704px;
    padding: 124px 0;

    & .row {
        width: 100%;
        @include flex-cen;

        & .col-xl-6 {
            width: 50%;

            .description {
                width: 100%;
                max-width: 558px;
                position: relative;

                h2 {
                    @include aleo-title;
                    color: $white;
                    margin-bottom: 24px;
                }

                p {
                    @include text;
                    margin-bottom: 35px;
                }

            }

            .button {
                text-decoration: none;
                @include aleo-bt;
                background-color: $blue;
                padding: 20px 32px;
                position: absolute;
            }

            .gallery {
                display: flex;
                flex-direction: column;
                max-width: 460px;
                width: 100%;
            }

            img {
                width: 100%;
                max-width: 350px;
            }

            .img-start {
                margin-bottom: 16px;
            }

            .img-end {
                align-self: end;
            }
        }


    }
}