@import '../partials/variables';
@import '../partials/mixins';

.spain-upper {
    background-image: url("../assets/images/section-3.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    padding: 220px 0 120px;

    .cta-wraper {
        background-color: rgba(35, 35, 35, 0.9);
        padding: 44px 32px;
        width: 100%;
        max-width: 558px;

        @include brakepoint($lg) {
            max-width: 550px;
        }

        @include brakepoint($md) {
            max-width: 100%;
        }

        @include brakepoint($sm) {
            max-width: 100%;
        }

        .description {
            width: 100%;
            margin-bottom: 24px;

            span {
                @include font-josefin;
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: $white;
                margin-bottom: 16px;
            }

            h3 {
                @include font-josefin;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                text-transform: uppercase;
                color: $white;
            }

            p {
                @include text;
            }
        }

        .button {
            text-decoration: none;
            @include aleo-bt;
            background-color: $blue;
            padding: 20px 57px;
        }
    }

}