@import 'variables.scss';
@import 'mixins.scss';

* {
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;

    @include breakpoint(sm) {
        max-width: 540px;
    }

    @include breakpoint(md) {
        max-width: 720px;
    }
}

.col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;

    @include breakpoint(sm) {
        width: 100%;
    }

    @include breakpoint(md) {
        width: 100%;
    }
}

.border-right {
    border-right: 1px solid $yellow;

    @include breakpoint(sm) {
        border-right: none
    }
}