 /* header */
 header {
     padding: 44px 0;
 }

 .header__container {
     width: 90%;
     max-width: 1170px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header__nav {
     display: flex;
     align-items: center;
 }

 .nav__menu {
     margin-right: 84px;
 }

 .nav__menu ul li {
     display: inline-block;
     list-style: none;
     margin-right: 42px;
 }

 .nav__menu ul li:last-child {
     margin-right: 0px;
 }

 .nav__menu ul li a {
     font-family: 'Lato', sans-serif;
     text-decoration: none;
     color: #000000;
     text-transform: uppercase;
     font-weight: 400px;
     font-size: 14px;
     line-height: 17px;
     letter-spacing: 0.3em;
     position: relative;
     padding-bottom: 3px;
 }

 .nav__menu ul li a::after {
     content: "";
     width: 40px;
     height: 2px;
     background-color: #000000;
     position: absolute;
     bottom: 0;
     right: calc(50% - 20px);
     display: none;
 }

 .nav__menu ul li a:hover::after {
     display: block;
 }

 .hamburger-menu {
     display: none;
 }

 /* main */

 .baner {
     background-image: url("../images/bg-image.png");
     background-repeat: no-repeat;
     background-position-x: center;
     height: calc(100vh - 105px);
     background-size: cover;
     max-height: 620px;
     min-height: 320px;
     padding-top: 100px;
     margin-bottom: 90px;
 }

 .container {
     width: 90%;
     max-width: 1170px;
     margin: 0 auto;
 }

 h1 {
     font-family: 'Red Hat Display', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 64px;
     letter-spacing: 0.05em;
     max-width: 770px;
     width: 100%;
 }

 h2 {
     font-family: 'Red Hat Display', sans-serif;
     font-weight: 400;
     font-size: 48px;
     line-height: 64px;
     letter-spacing: 0.05em;
     margin-bottom: 50px;
 }

 h3 {
     font-family: 'Red Hat Display', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 28px;
     line-height: 46px;
     letter-spacing: 0.1em;
     color: #000000;
 }

 h4 {
     font-family: 'Red Hat Display';
     font-style: normal;
     font-weight: 500;
     font-size: 23px;
     line-height: 38px;
     letter-spacing: 0.1em;
     color: #000000;
 }

 .date {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     letter-spacing: 0.1em;
     color: #7B7B7B;
 }

 .category {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 27px;
     letter-spacing: 0.1em;
     color: #7B7B7B;
 }

 .text {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 27px;
     letter-spacing: 0.05em;
     color: #565656;
 }

 .row {
     display: flex;
     width: 100%;
     justify-content: space-between;
     flex-shrink: 0;
     max-width: 100%;
     flex-wrap: wrap;
 }

 .row-reverse {
     flex-direction: row-reverse;
 }

 [class^="col-"] {
     display: flex;
     width: 100%;
     flex-shrink: 0;
 }

 .col-lg-6 {
     max-width: calc(50% - 15px);
 }

 .col-lg-4 {
     max-width: calc(33% - 15px);
 }

 .row-reverse .content-end {
     justify-content: flex-end;
 }

 .thumb,
 .thumb img {
     width: 100%;
 }

 .blog {
     margin-bottom: 90px;
 }

 .article-blog {
     margin-bottom: 50px;
 }

 .blog article .description {
     max-width: 448px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .blog article .description .category {
     margin-bottom: 30px;
 }

 .blog article .description .title {
     margin-bottom: 15px;
 }

 .blog article .description .date {
     margin-bottom: 50px;
 }

 .latest-posts {
     margin-bottom: 90px;
 }

 .latest-posts article .description .meta {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     margin: 25px 0 25px;
 }

 .latest-posts article .description .title {
     margin-bottom: 20px;
 }

 .most-popular {
     margin-bottom: 90px;
 }

 .most-popular article .description .meta {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     margin: 20px 0;
 }

 .most-popular article .description .title {
     margin-bottom: 20px;
 }

 .most-popular article .description .text {
     margin-bottom: 54px;
 }

 .info {
     margin-bottom: 90px;
 }

 .main__link {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .block-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 50px;
 }

 .block-header a {
     text-decoration: none;
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 27px;
     letter-spacing: 0.1em;
     color: #7B7B7B;
 }

 .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .flex-center .button {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     background: #565656;
     padding: 10px 45px;
     color: #FFFFFF;
     line-height: 27px;
     letter-spacing: 0.1em;
     font-size: 16px;
     font-weight: 700;
     text-decoration: none;
     transition: 0.3s;
 }

 .flex-center .button:hover {
     background: #323232;
 }

 .info .position {
     width: 100%;
     max-width: 470px;
 }

 .info .position a {
     font-family: 'Red Hat Display';
     font-style: normal;
     font-weight: 400;
     font-size: 23px;
     line-height: 38px;
     letter-spacing: 0.1em;
     color: #000000;
     text-decoration: none;
 }

 .info .position a>* {
     display: block;
 }

 .flex-end {
     justify-content: flex-end;
 }

 .info .about {
     width: 100%;
     max-width: 470px;
 }

 .info .about p {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     line-height: 32px;
     letter-spacing: 0.05em;
     color: #565656;
     margin-bottom: 20px;
 }

 /* footer */

 footer {
     background: #F4F4F4;
     padding: 70px 0 30px;
 }

 .container {
     width: 90%;
     max-width: 1170px;
     margin: 0 auto;
 }

 .content {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .content .content__contacts {
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
 }

 footer h2 {
     margin-bottom: 30px;
 }


 .content .content__contacts a {
     text-decoration: none;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 27px;
     letter-spacing: 0.1em;
     color: #000000;
     margin-bottom: 15px;
 }

 .content .content__contacts a:last-child {
     margin-bottom: 0px;
 }

 .content__socials ul li {
     display: inline-block;
     list-style: none;
     margin-right: 23px;
     border: 1px solid #565656;
     width: 50px;
     height: 50px;
 }

 .content__socials ul li:last-child {
     margin-right: 0px
 }

 .content__socials ul li a {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     padding: 13px 10px;
     transition: 0.4s;
 }

 .content__socials ul li a:hover {
     background-color: #565656;
 }

 .content__socials ul li a:hover svg path {
     fill: #FFFFFF;
 }

 .copyright p {
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     letter-spacing: 0.1em;
     color: #000000;
     text-align: center;
 }

 @media screen and (max-width: 992px) {
     header {
         padding: 24px 0;
     }

     .nav__menu {
         display: none;
     }

     .hamburger-menu {
         display: block;
         margin-left: 40px;
     }

     .baner {
         height: calc(100vh - 70px);
         max-height: 320px;
         padding-top: 30px;
     }

     .baner h1 {
         max-width: 700px;
         font-size: 36px;
         line-height: 50px;
     }

     .blog h2 {
         margin: 70px 0 50px;
     }

     .blog article .description .date {
         margin-bottom: 40px;
     }

     .col-md-6 {
         max-width: calc(50% - 10px);
     }

     .col-md-12 {
         max-width: 100%;
     }

     .mb-md-30 {
         margin-bottom: 30px;
     }

     .content {
         align-items: center;
         flex-direction: column;
     }

     .content .content__contacts {
         align-items: center;
     }

     .flex-end .about {
         margin-top: 50px;
         width: 100%;
         text-align: right;
     }

     footer {
         padding: 50px 0;
     }

     .content__contacts h2 {
         margin-bottom: 51px;
     }

     .copyright {
         margin-top: 40px;
     }

 }


 @media screen and (max-width: 600px) {

     .hamburger-menu {
         margin-left: 20px;
     }

     .baner {
         max-height: 520px;
         padding-top: 70px;
     }

     .baner h1 {
         max-width: 300px;
         font-size: 30px;
     }

     .blog h2 {
         text-align: center;
     }

     h4 {
         font-size: 22px;
     }

     .blog article .description {
         margin-bottom: 37px;
     }

     .blog article .description .title {
         margin-bottom: 10px;
     }

     .block-header {
         flex-direction: column;
     }

     .col-sm-12 {
         max-width: 100%;
         flex-shrink: 0;
     }

     .mb-sm-50 {
         margin-bottom: 50px;
     }

     .col-sm-reverse {
         flex-direction: column-reverse;
     }

     .row-reverse .content-end {
         justify-content: start;
     }

     .flex-end .about {
         margin-top: 35px;
         width: 100%;
         text-align: start;
     }

 }