body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .container {
    max-width: 299px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    max-width: 738px;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  h2 {
    font-size: 20px;
    line-height: 25px;
  }
}

.button {
  text-decoration: none;
  background-color: transparent;
  padding: 15px 57px;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .button {
    padding: 10px 26px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .button {
    padding: 10px 26px;
  }
}
.button-dark {
  border: 2px solid black;
  color: black;
}
.button-light {
  border: 2px solid #F8F1EA;
  color: white;
}
.button:hover {
  background-color: #F16A50;
  border: 2px solid #F16A50;
  color: white;
}

.header {
  background-color: #F8F1EA;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  max-width: 182px;
  padding: 22px 0;
}
.header__logo img {
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .header__logo {
    max-width: 100px;
    padding: 20px 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__logo {
    max-width: 168px;
    padding: 15px 0;
  }
}
.header__nav ul li {
  display: inline-block;
  margin-right: 30px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__nav ul li {
    margin-right: 20px;
  }
}
.header__nav ul li:last-child {
  margin-right: 0px;
}
.header__nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 28px 0;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__nav ul li a {
    font-size: 16px;
    padding: 20px 0;
  }
}
.header__nav ul li a:hover {
  background-color: #F16A50;
  color: white;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .header__nav {
    display: none;
  }
}
.header__tools {
  display: flex;
  padding: 22px 0;
}
.header__tools .search {
  width: 36px;
  height: 36px;
  margin-right: 36px;
}
.header__tools .user {
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .header__tools {
    padding: 20px 0;
  }
  .header__tools .search {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .header__tools .user {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__tools {
    padding: 16px 0;
  }
  .header__tools .search {
    width: 27px;
    height: 27px;
    margin-right: 20px;
  }
  .header__tools .user {
    width: 27px;
    height: 27px;
  }
}
.header__burger {
  display: none;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .header__burger {
    display: block;
  }
}

.baner__carousel .baner__element {
  width: 100%;
  position: relative;
}
.baner__carousel .baner__element .container {
  display: flex;
  justify-content: flex-end;
}
.baner__carousel .baner__element img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}
.baner__carousel .baner__element .cta {
  width: 400px;
  text-align: center;
  margin: 120px 0 368px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .baner__carousel .baner__element .cta {
    width: 210px;
    margin: 60px 0 200px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .baner__carousel .baner__element .cta {
    width: 210px;
    margin: 60px 0 200px;
  }
}
.baner__carousel .baner__element .cta h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #F8F1EA;
  margin-bottom: 50px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .baner__carousel .baner__element .cta h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .baner__carousel .baner__element .cta h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
.baner__carousel .slick-dots {
  bottom: 50px;
}
.baner__carousel .slick-dots li {
  margin-right: 30px;
}
.baner__carousel .slick-dots li:last-child {
  margin-right: 0;
}
.baner__carousel .slick-dots li.slick-active button:before {
  color: #F16A50;
  font-size: 20px;
  opacity: 1;
}
.baner__carousel .slick-dots li:not(.slick-active) button:before {
  color: rgba(248, 241, 234, 0.7);
  font-size: 20px;
  opacity: 1;
}

.products {
  padding: 70px 0;
}
.products .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.products .products__carousel {
  width: 100%;
  margin-bottom: 50px;
}
.products .products__slick-prev,
.products .products__slick-next {
  width: 40px;
  height: 74px;
  position: absolute;
  z-index: 10;
  top: 50%;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .products .products__slick-prev,
.products .products__slick-next {
    display: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .products .products__slick-prev,
.products .products__slick-next {
    width: 16px;
    height: 30px;
  }
}
.products__slick-prev {
  background-image: url(../images/left-arrow.svg);
  left: -60px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .products__slick-prev {
    display: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .products__slick-prev {
    right: -39px;
  }
}
.products__slick-next {
  background-image: url(../images/next.svg);
  right: -60px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .products__slick-next {
    display: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .products__slick-next {
    right: -39px;
  }
}
.products .products__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .products .products__carousel {
    max-width: 299px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .products .products__carousel {
    max-width: 704px;
  }
}
.products .products__card .card__wrapper {
  border: 1px solid #F8F1EA;
  margin-right: 16px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .products .products__card .card__wrapper {
    margin-right: 10px;
  }
}
.products .products__card .card__wrapper:hover {
  border: 1px solid #F16A50;
}
.products .products__card .card__wrapper span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #F8F1EA;
  background-color: #F16A50;
  padding: 4px 5.5px;
}
.products .products__card .card__wrapper span:hover {
  color: black;
  background-color: #F8F1EA;
}
.products .products__card .card__wrapper .card__contents {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.products .products__card .card__wrapper .card__contents .description {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  padding-bottom: 10px;
}
.products .products__card .card__wrapper .card__contents .price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.partners {
  padding: 70px 0;
  background-color: #F8F1EA;
}
.partners .container {
  position: relative;
}
.partners .partners__title {
  margin-bottom: 40px;
}
.partners .partners__item {
  margin-right: 34px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .partners .partners__item {
    margin-right: 34px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .partners .partners__item {
    margin-right: 24px;
  }
}
.partners .partners__slick-prev,
.partners .partners__slick-next {
  width: 40px;
  height: 74px;
  position: absolute;
  z-index: 10;
  top: 50%;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .partners .partners__slick-prev,
.partners .partners__slick-next {
    display: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .partners .partners__slick-prev,
.partners .partners__slick-next {
    width: 16px;
    height: 30px;
  }
}
.partners__slick-prev {
  background-image: url(../images/left-arrow.svg);
  left: -75px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .partners__slick-prev {
    left: -34px;
  }
}
.partners__slick-next {
  background-image: url(../images/next.svg);
  right: -75px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .partners__slick-next {
    left: -34px;
  }
}

.footer {
  background-color: #35312D;
  color: #F8F1EA;
}
.footer .footer__info {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .footer .footer__info {
    padding: 120px 90px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer .footer__info {
    padding: 52px 74px;
  }
}
.footer .footer__info .footer__logo {
  width: 150px;
  margin-bottom: 35px;
}
.footer .footer__info .footer__nav ul li {
  margin-bottom: 10px;
}
.footer .footer__info .footer__nav ul li:last-child {
  margin-bottom: 0px;
}
.footer .footer__info .footer__nav ul li a {
  text-decoration: none;
  color: #F8F1EA;
  font-weight: 500;
  font-size: 20px;
}
.footer .footer__info .footer__nav ul li a:hover {
  color: #F16A50;
}
.footer .footer__info .footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer__info .footer__contacts .socials__item {
  margin: 51px 0 36px;
}
.footer .footer__info .footer__contacts .socials__item ul li {
  display: inline-block;
  margin-right: 35px;
}
.footer .footer__info .footer__contacts .socials__item ul li .item__icon {
  display: block;
}
.footer .footer__info .footer__contacts .socials__item ul li .item__icon--hovered {
  display: none;
}
.footer .footer__info .footer__contacts .socials__item ul li:hover .item__icon {
  display: none;
}
.footer .footer__info .footer__contacts .socials__item ul li:hover .item__icon--hovered {
  display: block;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .footer .footer__info .footer__contacts {
    align-items: flex-end;
  }
}
.footer p {
  text-align: center;
  padding-bottom: 20px;
}/*# sourceMappingURL=style.css.map */